# Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/
__pycache__/
*.pyc
__init__.py
.venv/
venv/

# Build
dist/
build/
.next/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*